*{
   box-sizing: border-box;
}
body {
    background-image: url("banner.jpg");
    background-size: cover;
    background-repeat: repeat;
}
h1 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: black;
    text-transform: capitalize;
    text-shadow: 5px 2px 4px grey;
}
h2 {
    text-transform: capitalize;
    text-align: center;
    color: black;
    text-decoration: underline;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.table {
    width: 25%;
    padding:15px;
    float: left;
    border: 5px inset grey;
    border-radius: 5px;
    background-color: black;
}
table{
    width: 100%;
    padding: 55px 0;
}
tr, td {
    border: 5px inset grey;
    border-radius: 5px;
    border-spacing: 2px 2px;
    empty-cells: hide;
    color: white;
}
.hobbies{
    width: 25%;
    float: left;
    padding: 15px;
    border: 5px inset grey;
    border-radius: 5px;
    text-indent: -70px;
    background-color: black;
    color: white;
}
.list{
    list-style-type:circle;
    list-style-position:inside;
    text-indent: 10px;
    padding-bottom: 42px;
}
.buddy{
    width: 50%;
    float: left;
    border: 5px inset grey;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    word-wrap: break-word;
    background-color: black;
    color: white;
}
#me{
    border: 5px inset grey;
}

.story{
    width: 100%;
    border: 5px inset grey;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    word-wrap: break-word;
    background-color: black;
    color: white;
}
.others{
    width: 100%;
    border: 5px inset grey;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    word-wrap: break-word;
    background-color: black;
    color: white;
}
button{
    background-color: white;
    border: 5px inset grey;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
#vlad{
    float: left;
    border-radius: 8px;
    width: 150px;
}
#vlad:hover{
    color: blue;
    text-transform: capitalize;
}

#yasser{
    float: right;
    border-radius: 8px;
    width: 150px;
}
#yasser:hover{
    color: blue;
    text-transform: capitalize;
}
#wendy{
    border-radius: 8px;
    width: 150px;
}
#batwoman{
    border: 5px inset grey;
    border-radius: 5px;
}


