body {
    background-image: url("banner.jpg");
    background-size: cover;
    background-repeat: repeat;
}
h1{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: black;
    text-transform: capitalize;
    text-shadow: 5px 2px 4px grey;
}
h2 {
    text-transform: capitalize;
    color: black;
    text-decoration: underline;
}
.table {
    position: relative;
    top: 30px;
    left: 100px;
}
table, th, td {
    border: 5px inset grey;
    border-radius: 5px;
    table-layout: auto;
    border-spacing: 10px 20px;
    empty-cells: hide;
    background-color: black;
    color: white;
}
.hobbies{
    position: absolute;
    border: 5px inset grey;
    border-radius: 5px;
    padding: 5px;
    top: 227px;
    left: 394px;
    right: 407px;
    bottom: 180px;
    text-indent: -70px;
    background-color: black;
    color: white;
}
.list{
    list-style-type:circle;
    list-style-position:inside;
    text-indent: 10px;
    padding-bottom: 42px;
}
.buddy{
    position: absolute;
    border: 5px inset grey;
    border-radius: 5px;
    padding: 2px;
    top: 227px;
    left: 728px;
    right: 100px;
    bottom: 180px;
    text-align: center;
    word-wrap: break-word;
    background-color: black;
    color: white;
}
#me{
    border: 5px inset grey;
    border-radius: 20px;
    position: relative;
    top: -35px;
}
.story{
    position: absolute;
    border: 5px inset grey;
    border-radius: 5px;
    padding: 5px;
    top: 275px;
    left: -625px;
    right: -5px;
    text-align: center;
    word-wrap: break-word;
    background-color: black;
    color: white;
}
.others{
    position: absolute;
    border: 5px inset grey;
    border-radius: 5px;
    padding: 5px;
    top: 500px;
    right: -5px;
    left: -625px;
    text-align: center;
    word-wrap: break-word;
    background-color: black;
    color: white;
}
button{
    background-color: white;
    border: 5px inset grey;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
#vlad{
    float: left;
    border-radius: 8px;
    width: 150px;
}
#vlad:hover{
    color: blue;
    text-transform: capitalize;
}

#yasser{
    float: right;
    border-radius: 8px;
    width: 150px;
}
#yasser:hover{
    color: blue;
    text-transform: capitalize;
}
#wendy{
    float: none;
    border-radius: 8px;
    width: 150px;
}
#batwoman{
    border: 5px inset grey;
    border-radius: 8px;
    float: right;
    position: relative;
    top: -40px;
}
h6{
    text-indent: 120px;
}

